<link rel="stylesheet" href="/styles/flash.css" />

<% if (success.length) { %>
<div class="container">
  <div class="flash flash-success"><%= success %></div>
</div>
<% } %> <% if (error.length) { %>
<div class="container">
  <div class="flash flash-error"><%= error %></div>
</div>
<% } %>
