<link rel="stylesheet" href="/styles/footer.css" />

<footer>
    <div class="container">
      <div class="content">
      <div>
        <img
          src="https://fabrx.co/preview/tastebite/assets/images/brands/brand4.svg"
          alt="Tastebite logo"
        />
        <q>
          On the other hand, we denounce with righteous indignation and
          dislike men who are so beguiled and demoralized by the charms of
          pleasure of the moment
        </q>
      </div>
      <div>
        <ul>
          <li>
            <a href="https://www.instagram.com">
              <img
                src="/icons/instagram.svg"
                alt="Instagram TasteBite"
              />
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com">
              <img src="/icons/facebook.svg" alt="Facebook TasteBite" />
            </a>
          </li>
          <li>
            <a href="https://twitter.com">
              <img src="/icons/twitter.svg" alt="Twitter TasteBite" />
            </a>
          </li>
          <li>
            <a href="https://youtube.com">
              <img src="/icons/youtube.svg" alt="Youtube TasteBite" />
            </a>
          </li>
        </ul>
      </div>
      </div>
      <hr />
      <div class="rights-reserved">
        © 2020 Tastebite - All rights reserved
      </div>
    </div>
  </div>
</footer>

<script src="/js/toggleMenu.js" ></script>