* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 24px;
  line-height: 29px;
}

h4 {
  font-size: 36px;
  line-height: 43px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 18px;
  line-height: 27px;
}

img {
  height: 20px;
}

footer {
  background: rgba(0, 0, 0, 0.02);
  padding: 48px 0 24px;
}

/* ------------------------------------------------------------*/

/* REGULARS */

/* ------------------------------------------------------------*/

ul.recipe-data,
.recipe-ingredients ul,
.recipe-comments ul {
  list-style-type: none;
  padding: 0;
}

.recipe-data {
  display: flex;
  padding: 0;
}

.recipe-data li {
  margin-right: 40px;
}

.recipe-data li * {
  display: inline;
}

.recipe-comments ul li {
  margin-top: 20px;
}

.recipe-comments .rating {
  display: inline;
}

#recipe-image {
  height: 400px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #ddd8c7;
}

/* ------------------------------------------------------- */

/* CONTAINER */

/* ------------------------------------------------------- */
footer ul {
  list-style: none;
  display: flex;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

footer ul li img {
  padding: 5px;
}

footer ul li img:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

footer q {
  color: rgb(127, 127, 127);
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
}

footer .container .content > div {
  flex: 1;
}

footer ul img {
  height: 40px;
  margin-left: 10px;
}

.col {
  width: 100%;
}

.container {
  max-width: 100%;
  margin: 15px 15px 0px 15px;
}

.header-underline {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.best-recipe-card {
  background: #e6f1fe;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.description {
  padding: 24px;
}

.description h3 {
  margin: 16px 0px;
}

.description .view-button {
  text-align: right;
}

.description a img {
  height: 25px;
  padding: 5px;
  background: #fff;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
}

.description a:hover img {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.stats {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  display: flex;
  gap: 8px;
}

.stats img {
  width: 18px;
}

.last-recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipe-card {
  flex-wrap: wrap;
  word-wrap: break-word;
}

.recipe-card-info {
  color: #ff642f;
  font-size: 11px;
  font-weight: 600;
}

.recipe-card-info div {
  vertical-align: super;
}

.recipe-card h5 {
  margin-top: 6px;
}

.recipe-card .container-image {
  height: 360px;
  border-radius: 5px;
  overflow: hidden;
}

.recipe-card .container-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.recipe-card .container-image img:hover {
  transform: scale(1.1);
}

.recipe-card-info {
  display: flex;
  justify-content: space-between;
}

.recipe-card-info div {
  display: inline;
}

.recipe-card a {
  text-decoration: none;
  color: #000;
}

.recipe-card h5 {
  display: flex;
}

.recipe-card a:hover h5 {
  color: #ff642f;
}

.rights-reserved {
  text-align: center;
  margin-top: 24px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(127, 127, 127);
}

.navbar {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.navbar:has(.toggle-menu) {
  margin-bottom: 140px;
}

.navbar .toggle-menu {
  position: absolute;
  top: 107px;
  background: #fff;
}

.navbar .toggle-menu ul {
  display: block;
  margin: 0;
}

.navbar .toggle-menu li {
  margin-bottom: 10px;
}

.navbar ul {
  padding: 0;
  list-style-type: none;
  position: absolute;
  display: none;
}

.navbar > div {
  margin: auto 0;
}

.navbar > div a span,
.navbar > div button span {
  display: none;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar a img,
.navbar button img {
  height: 30px;
}

.navbar ul a {
  font-weight: 500;
}

.navbar ul a:hover {
  color: #ff642f;
}

.navbar ul li {
  margin: 0px 10px;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories .container-image {
  width: 226px;
  height: 226px;
  overflow: hidden;
  border-radius: 100%;
}

.categories img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}

.categories img:hover {
  transform: scale(1.1);
}

.categories a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.categories a:hover {
  color: #ff642f;
}

#sign-out-button,
#toggle-menu-button {
  background: none;
  border: none;
}

#sign-out-button,
#toggle-menu-button,
.navbar > div > a {
  display: inline-block;
  padding: 5px 6px 1px;
}

#sign-out-button:hover,
#toggle-menu-button:hover,
.navbar .button-list a:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

#navbar-logo {
  height: 50px;
}

#footer-logo {
  height: 50px;
}

#best-recipe-image {
  width: 100%;
  object-fit: cover;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}

#load-more-button {
  display: block;
  margin: 0px auto 48px;
  padding: 8px 48px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  transition: 0.2s ease-in-out;
}

#load-more-button:hover {
  background: #000;
  color: #fff;
}

#search-form {
  display: flex;
  margin: 48px 0;
}

#search-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 0px;
}

#search-form button {
  border: none;
  background: none;
  border-bottom: 1px solid #000;
}

#search-form button:hover {
  cursor: pointer;
}

#search-form button img {
  height: 25px;
}

@media (min-width: 576px) {
  h5 {
    font-size: 20px;
    line-height: 30px;
  }

  footer ul {
    justify-content: right;
    margin: 0;
  }

  footer .container .content {
    display: flex;
  }

  .container {
    max-width: 516px;
    margin: 0 auto;
  }

  .categories .container-image {
    width: 246px;
    height: 246px;
  }

  #best-recipe-image {
    height: 387px;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 45px;
    line-height: 54px;
  }

  .description {
    padding: 48px;
  }

  .container {
    max-width: 696px;
  }

  .recipe-card {
    width: 216px;
  }

  .recipe-card .container-image {
    height: 150px;
  }

  .categories .container-image {
    width: 216px;
    height: 216px;
  }

  #best-recipe-image {
    height: 522px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 936px;
  }

  .col {
    flex: 1;
  }

  .best-recipe-card {
    height: 410px;
  }

  .description {
    margin: auto 0;
  }

  .recipe-card {
    width: 296px;
  }

  .recipe-card .container-image {
    height: 206px;
  }

  .navbar ul {
    display: flex;
    position: relative;
  }

  .navbar > div a span,
  .navbar > div button span {
    display: inline;
  }

  #toggle-menu-button {
    display: none;
  }

  #best-recipe-image {
    height: 410px;
    width: 546px;
    border-radius: 20px 0px 0px 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1116px;
  }

  .best-recipe-card {
    height: 488px;
  }

  .description {
    padding: 48px;
  }

  .recipe-card {
    width: 356px;
  }

  .recipe-card .container-image {
    height: 247px;
  }

  .categories .container-image {
    width: 255px;
    height: 255px;
  }

  #best-recipe-image {
    height: 488px;
    width: 650px;
  }
}
