.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories .container-image {
  width: 226px;
  height: 226px;
  overflow: hidden;
  border-radius: 100%;
}

.categories img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}

.categories img:hover {
  transform: scale(1.1);
}

.categories a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.categories a:hover {
  color: #ff642f;
}

@media (min-width: 576px) {
  .categories .container-image {
    width: 246px;
    height: 246px;
  }
}

@media (min-width: 768px) {
  .categories .container-image {
    width: 216px;
    height: 216px;
  }
}

@media (min-width: 1200px) {
  .categories .container-image {
    width: 255px;
    height: 255px;
  }
}
